@model InventoryControlTRDWeb.Areas.Client.Models.SubProductViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "_Layout";
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Add">
                <input type="hidden" asp-for="Product.Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Selecione o Produto</label>
                        <select asp-for="SubProductId" class="form-control form-control-sm">
                            @foreach (var product in Model.ProductList)
                            {
                                <option value="@product.Id">@product.Name</option>
                            }
                        </select>
                        <span asp-validation-for="SubProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Quantidade</label>
                        <input class="form-control form-control-sm" asp-for="Amount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <h4>Adicionar Sub Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Product.Name
        </dd>
    </dl>
    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal" style="margin-bottom:2em">Novo Sub Produto</button>
    <table class="table" >
        <thead>
            <tr>
                <th>Sub Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subProduct in Model.SubProductList)
            {
                <tr>
                    <td>@(Model.ProductList.Where(a => a.Id == subProduct.Id).FirstOrDefault()?.Name)</td>
                    <td>@subProduct.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Voltar a Lista de Produtos","List","Product")
</div>
