@model RequestReportViewModel
@{
    Layout = "_Layout";
}


<form asp-action="RequestReport">

    <div class="form-group">
        <label>Data Inicial</label>
        <input asp-for="StartDate" type="date" class="form-control form-control-sm" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Data Final</label>
        <input asp-for="FinalDate" type="date" class="form-control  form-control-sm" />
        <span asp-validation-for="FinalDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Gerar</button>
</form>


@if (Model != null)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Qtde. Requisitada</th>
                <th>Preço Custo Total</th>
                <th>Preço Venda Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reportItem in Model.RequestReportList)
            {
                <tr>
                    <td>@reportItem.ProductName</td>
                    <td>@reportItem.Amount</td>
                    <td>@reportItem.TotalCostPrice</td>
                    <td>@reportItem.TotalSalePrice</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">TOTAL</td>
                <td>@(Model.RequestReportList.Sum(a => a.TotalCostPrice))</td>
                <td>@(Model.RequestReportList.Sum(a => a.TotalSalePrice))</td>
            </tr>
        </tfoot>
    </table>
}

