@model InventoryControlTRDWeb.Areas.Client.Models.ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo !  </h1>
    <p>Lista de Produtos <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>


<table class="table" style="padding-top:3em">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço de Custo</th>
            <th>Preço de Venda</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
              
                <td>
                    @if ( User.Identity.GetRole() == "Administrator" || User.Identity.GetUserName() == "Manager")
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id });
                    }

                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>